[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "SongEvo"]
	path = SongEvo
	url = https://github.com/raydanner/songevo
	shallow = true
	registered = true
